---
import "../styles/global.css";
const { contacto } = Astro.props;
const { nosotros } = Astro.props;
import Image from "astro/components/Image.astro";
import TwitterImg from "../images/twitter_logo.png";
import FacebookImg from "../images/facebook_logo.png";
import InstagramImg from "../images/instagram_logo.png";
---

<footer class="bg-gray-800 text-white">
  <div class="max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
    <div
      class="flex flex-col md:flex-row justify-between items-center space-y-4 md:space-y-0"
    >
      <div class="flex-shrink-0 text-center md:text-left">
        <a href="#" class="text-2xl font-bold tracking-tight block mb-1">
          <span class="text-red-600">EL </span>CRONISTA
        </a>
        <p class="text-xs text-gray-400">
          &copy; 2025 EL CRONISTA. Todos los derechos reservados.
        </p>
      </div>

      <div
        class="flex flex-col md:flex-row items-center space-y-4 md:space-y-0 md:space-x-8"
      >
        <div class="flex space-x-4">
          <a
            href="/contacto"
            class="px-4 py-2 text-sm font-medium text-white border border-red-600 rounded-md hover:bg-red-600 transition duration-150"
          >
            Contacto
          </a>
          <a
            href="/nosotros"
            class="px-4 py-2 text-sm font-medium text-white border border-red-600 rounded-md hover:bg-red-600 transition duration-150"
          >
            Sobre Nosotros
          </a>
        </div>

        <div class="flex space-x-5">
          <a
            href="https://x.com/?lang=es"
            class="hover:opacity-75 transition duration-150"
          >
            <Image
              src={TwitterImg}
              alt="Twitter"
              class="w-6 h-6 object-contain"
            />
          </a>

          <a
            href="https://www.facebook.com/?locale=es_LA"
            class="hover:opacity-75 transition duration-150"
          >
            <Image
              src={FacebookImg}
              alt="Facebook"
              class="w-6 h-6 object-contain"
            />
          </a>

          <a
            href="https://www.instagram.com"
            class="hover:opacity-75 transition duration-150"
          >
            <Image
              src={InstagramImg}
              alt="Instagram"
              class="w-6 h-6 object-contain"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
