---
import "../styles/global.css";
const {index} = Astro.props;
const {contacto} = Astro.props;
const {nosotros} = Astro.props;
---

<header class="bg-white border-b border-gray-200">
  <div
    class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 h-16 flex justify-between items-center"
  >
    <div class="flex-shrink-0">
      <a href="/" class="text-3xl font-bold tracking-tight">
        <span class="text-red-600">RET</span><span class="text-black">NEWS</span
        >
      </a>
    </div>

    <nav class="flex items-center space-x-6 text-sm font-medium text-gray-700">
      <ul class="flex space-x-6 items-center">
        <li><a href="/" class="hover:text-red-600">INICIO</a></li>
        <li><a href="/" class="hover:text-red-600">NOTICIAS</a></li>
        <li><a href="/nosotros" class="hover:text-red-600">SOBRE NOSOTROS</a></li>
        <li><a href="/contacto" class="hover:text-red-600">CONTACTO</a></li>
      </ul>
    </nav>
  </div>
</header>
