---
import "../styles/global.css";
---

<div class="bg-gray-100">
  <div class="max-w-7xl mx-auto p-4 sm:p-6 lg:p-8">
    <div class="mb-8">
      <h2 class="text-2xl font-bold text-gray-900">Noticias Nacionales</h2>

      <div class="relative mt-2 h-0.5 bg-gray-200">
        <div class="absolute top-0 left-0 h-0.5 w-10 bg-red-600"></div>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-10">
      <div
        class="col-span-1 md:col-span-2 row-span-1 md:row-span-2 bg-gray-200 h-96 flex items-end p-4 relative overflow-hidden"
      >
        <div class="text-white relative z-10">
          <p
            class="text-sm font-semibold uppercase tracking-wider bg-black/50 inline-block px-2 py-1"
          >
            POLITICA
          </p>
          <h2 class="text-xl text-black font-bold mt-2">
            Cámara aprueba ley que prohíbe el uso de celulares en colegios a partir de 2026
          </h2>
          <p class="text-xs mt-1">Por 
Alberto González | 03/12/2025</p>
        </div>
      </div>

      <div
        class="col-span-1 md:col-span-2 bg-gray-300 h-48 md:h-auto flex items-end p-4 relative overflow-hidden"
      >
        <div class="text-white relative z-10">
          <p
            class="text-sm font-semibold uppercase tracking-wider bg-black/50 inline-block px-2 py-1"
          >
            COVID-19
          </p>
          <h2 class="text-xl font-bold mt-2">
            [Espacio para la Noticia Central Superior]
          </h2>
          <p class="text-xs mt-1">Por [Autor] | [Fecha]</p>
        </div>
      </div>

      <div
        class="col-span-1 md:col-span-1 bg-gray-400 h-48 flex items-end p-4 relative overflow-hidden"
      >
        <div class="text-white relative z-10">
          <p
            class="text-sm font-semibold uppercase tracking-wider bg-black/50 inline-block px-2 py-1"
          >
            Politics
          </p>
          <h2 class="text-lg font-bold mt-2">
            [Espacio para la Noticia Derecha Superior]
          </h2>
          <p class="text-xs mt-1">Por [Autor] | [Fecha]</p>
        </div>
      </div>

      <div
        class="col-span-1 md:col-span-1 bg-gray-500 h-48 flex items-end p-4 relative overflow-hidden"
      >
        <div class="text-white relative z-10">
          <p
            class="text-sm font-semibold uppercase tracking-wider bg-black/50 inline-block px-2 py-1"
          >
            Politics
          </p>
          <h2 class="text-lg font-bold mt-2">
            [Espacio para la Noticia Derecha Inferior]
          </h2>
          <p class="text-xs mt-1">Por [Autor] | [Fecha]</p>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
      <div class="bg-gray-100 p-2">
        <div class="h-32 bg-gray-200 mb-2"></div>
        <p class="text-xs text-gray-600">Por [Autor] | [Fecha]</p>
        <h3 class="text-base font-semibold mt-1">
          [Espacio para la Noticia Inferior 1]
        </h3>
      </div>

      <div class="bg-gray-100 p-2">
        <div class="h-32 bg-gray-200 mb-2"></div>
        <p class="text-xs text-gray-600">Por [Autor] | [Fecha]</p>
        <h3 class="text-base font-semibold mt-1">
          [Espacio para la Noticia Inferior 2]
        </h3>
      </div>

      <div class="bg-gray-100 p-2">
        <div class="h-32 bg-gray-200 mb-2"></div>
        <p class="text-xs text-gray-600">Por [Autor] | [Fecha]</p>
        <h3 class="text-base font-semibold mt-1">
          [Espacio para la Noticia Inferior 3]
        </h3>
      </div>

      <div class="bg-gray-100 p-2">
        <div class="h-32 bg-gray-200 mb-2"></div>
        <p class="text-xs text-gray-600">Por [Autor] | [Fecha]</p>
        <h3 class="text-base font-semibold mt-1">
          [Espacio para la Noticia Inferior 4]
        </h3>
      </div>
    </div>
  </div>
</div>
